# Environment variables
#.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg

# MLflow
mlruns/

# Data
data/raw/*.csv
data/raw/images_train/
data/raw_test/*.csv
data/raw_test/images_test/


# VSCode
.vscode/