pandas
pytest
pytest-cov
scikit-learn
fastapi
uvicorn
joblib
numpy
bs4
langdetect
mlflow==2.9.2
protobuf<4
torch
torchvision
pillow
pydantic
python-multipart
pyjwt
bcrypt
slowapi
prometheus-client
apache-airflow
evidently
structlog
python-json-logger
streamlit>=1.28.0
plotly
requests

dagshub