pandas==2.2.1
numpy>=1.26.0
scikit-learn>=1.4.0
tqdm>=4.66.0
openpyxl>=3.1.0
beautifulsoup4
langdetect
deep-translator
joblib
spacy

fastapi
uvicorn
pydantic
mlflow
# matplotlib>=3.8.0
# seaborn>=0.13.0
# pyarrow==15.0.2
# nltk>=3.8.1
# regex>=2023.5.5
# xgboost

# gensim==4.3.1
# smart_open==5.2.1
# scipy==1.10.1
# sentencepiece

# #transformers>=4.40.0
# datasets>=2.19.0
# torch>=2.2.0
# accelerate>=0.26.0
# sentence_transformers
# torchvision

# spacy

# tensorflow==2.10
 
# hf_xet

# shap
# torchcam

# streamlit

# fastapi
# uvicorn
# pytest